# Maven
target/

# Allure
allure-results/
allure-report/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Existing IntelliJ entries
/shelf/
/workspace.xml
/httpRequests/
/queries/
/dataSources/
/dataSources.local.xml